<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body class="container">
  <h1>Oh! An error just spawn</h1>
  <div id="main-paragraphe" class="center">
      {{{error}}}
  </div>
</body>
</html>