<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>Create a todo</h1>
    <form action="/todos{{idAndMethod}}", method="POST">
        <label for="message">Message :</label>
        <input class="input" id="message" name="name" type="message" value=""/>
        <br/>
        <label for="completion">Completion :</label>
        <select name="completion" id="completion">
            <option value="Todo">Todo</option>
            <option value="InProgress">In Progress</option>
            <option value="Done">Done</option>
        <select name="userId" id="userId">
            {{{userList}}}
        </select>
        </select>
        <p>
            <input type="submit" value="Create">
        </p>
    </form>
</body>
</html>


<!-- Formulaire dans les pages :
    let content = '<table><tr><th>Id</th><th>Description</th><th>Completion</th><th>createdAt</th><th>updatedAt</th></tr>'
    content += '<tr>'
    content += '<td>' + todo['id'] + '</td>'
    content += '<td>' + todo['name'] + '</td>'
    content += '<td>' + todo['completion'] + '</td>'
    content += '<td>' + todo['createdAt'] + '</td>'
    content += '<td>' + todo['updatedAt'] + '</td>'
    content += '</tr>'
    content += '</table>'
-->