<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>Create a User</h1>
    <form action="/users{{idAndMethod}}", method="POST">
        <label for="username">Username :</label>
        <input class="input" id="username" name="username" type="text" value=""/>
        <br/>
        <label for="lastname">Lastname :</label>
        <input class="input" id="lastname" name="lastname" type="text" value=""/>
        <br/>
        <label for="firstname">Firstname :</label>
        <input class="input" id="firstname" name="firstname" type="text" value=""/>
        <br/>
        <label for="password">Password :</label>
        <input class="input" id="password" name="password" type="password" value=""/>
        <br/>
        <label for="email">Email :</label>
        <input class="input" id="email" name="email" type="email" value=""/>
        <br/>
        <p>
            <input type="submit" value="Create user">
        </p>
    </form>
</body>
</html>


<!-- Table Users dans les pages
    let content = '<table><tr><th>Id</th><th>Username</th><th>Firstname</th><th>Lastname</th><th>Email</th><th>createdAt</th><th>updatedAt</th></tr>'
    content += '<tr>'
    content += '<td>' + user['id'] + '</td>'
    content += '<td>' + user['username'] + '</td>'
    content += '<td>' + user['firstname'] + '</td>'
    content += '<td>' + user['lastname'] + '</td>'
    content += '<td>' + user['email'] + '</td>'
    content += '<td>' + user['createdAt'] + '</td>'
    content += '<td>' + user['updatedAt'] + '</td>'
    content += '</tr>'
    content += '</table>'

-->