<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>Create a todo</h1>
    <form action="/todos{{idAndMethod}}", method="POST">
        <label for="message">Message :</label>
        <input class="input" id="message" name="name" type="message" value=""/>
        <br/>
        <label for="completion">Completion :</label>
        <select name="completion" id="completion">
            <option value="Todo">Todo</option>
            <option value="InProgress">In Progress</option>
            <option value="Done">Done</option>
        <select name="userId" id="userId">
            {{{userList}}}
        </select>
        </select>
        <p>
            <input type="submit" value="Create">
        </p>
    </form>
</body>
</html>