<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>Create a User</h1>
    <form action="/users{{idAndMethod}}", method="POST">
        <label for="username">Username :</label>
        <input class="input" id="username" name="username" type="text" value=""/>
        <br/>
        <label for="lastname">Lastname :</label>
        <input class="input" id="lastname" name="lastname" type="text" value=""/>
        <br/>
        <label for="firstname">Firstname :</label>
        <input class="input" id="firstname" name="firstname" type="text" value=""/>
        <br/>
        <label for="password">Password :</label>
        <input class="input" id="password" name="password" type="password" value=""/>
        <br/>
        <label for="email">Email :</label>
        <input class="input" id="email" name="email" type="email" value=""/>
        <br/>
        <p>
            <input type="submit" value="Create user">
        </p>
    </form>
</body>
</html>