<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body class="container">
  <h1>Bonjour {{name}}</h1>
  <p id="main-paragraphe" class="center">
    {{content}}
  </p>
</body>
</html>