<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body class="container">
  <h1>Bonjour {{name}}</h1>
  <div id="main-paragraphe" class="center">
    <table>
      <tr>
        <th></th>
      </tr>
    </table>
      {{{content}}}
  </div>
</body>
</html>